<section class="section">
  <h1 class="error-page__status-code">{{errorStatusCode}}</h1>
  <p class="text__medium">{{errorDescription}}</p>
  <a class="redirect-link opacity-animation" href="{{link}}">{{redirectLinkText}}</a>
</section>
