<section class="section">
    <form class="{{formClass}}">
      <h1 class="text__medium text__medium_place_form">{{formTitle}}</h1>
      <fieldset class="form__input-fields">
        {{#each field}}
          {{> formField}}
        {{/each}}
        {{> button}}
      </fieldset>
      <a class="redirect-link opacity-animation" href="#">{{redirectLinkTitle}}</a>
    </form>
  </section>