<page class="page">
  {{> notFoundErrorPage
    errorStatusCode='404'
    errorDescription='Не туда попали'
    redirectLinkText='Назад к чатам'
  }}
</page>

<!--page class="page">
  <section class="section">
    <form class="form__form-container">
      <h1 class="text__medium text__medium_place_form">Вход</h1>
      <fieldset class="form__input-fields">
        <label class="form__form-label">
          <p class="form__input-field-title">
            Логин
          </p>
          <input class="form__input-field" name="login" type="text" placeholder="Логин"/>
          <span class="form__input-error">Неверный логин</span>
        </label>
        <label class="form__form-label">
          <p class="form__input-field-title">
            Пароль
          </p>
          <input class="form__input-field" password="password" placeholder="Пароль" type="password"/>
          <span class="form__input-error"></span>
        </label>
        <button class="form__button opacity-animation" type="submit">Авторизоваться</button>
      </fieldset>
      <a class="redirect-link opacity-animation" href="#">Нет аккаунта?</a>
    </form>
  </section>
  <section class="section">
    <figure class="avatar__container">
      <img src="#" alt="user avatar" class="avatar__user-picture">
      <figcaption class="avatar__user-name">Иван</figcaption>
    </figure>
    <form class="form__form-container form__form-container_place_profile">
      <fieldset class="form__input-fields">
        <label class="form__form-label form__form-label_place_profile">
          <p class="form__input-field-title form__input-field-title_place_profile">
            Почта
          </p>
          <input class="form__input-field form__input-field_place_profile" name="login" type="text" placeholder="Логин"/>
        </label>
        <label class="form__form-label form__form-label_place_profile">
          <p class="form__input-field-title form__input-field-title_place_profile">
            Пароль
          </p>
          <input class="form__input-field form__input-field_place_profile" password="password" placeholder="Пароль" type="password"/>
        </label>
        <button class="form__button opacity-animation" type="submit">Авторизоваться</button>
      </fieldset>
      <a class="redirect-link opacity-animation" href="#">Нет аккаунта?</a>
    </form>
  </section>
</page-->